<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://images.boredomfiles.com/wp-content/uploads/sites/3/2016/07/embarrassing-photos-2.jpg" />

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>